<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>项目</title>
	<link rel="stylesheet" type="text/css" href="../cssForIndex.css">
</head>
<body>
	<header>
		<ul id="header-context-1">	
			<a href="Others.html">
				<li class="header-text-1">其他</li>
			</a>
			<a href="Contact.html">
				<li class="header-text-1">联系</li>
			</a>
			<a href="Experience.html">
				<li class="header-text-1">经验</li>
			</a>
			<a href="Project.html">
				<li class="header-text-1">项目</li>
			</a>
			<a href="../index.html">
				<li class="header-text-1">主页</li>
			</a>
		</ul>
		<ul	id="header-context-2">
			<li class="header-text-2">欢迎访问我的个人网站:<a href="https://beijixingtianci.github.io/" target="_blank">https://beijixingtianci.github.io/</a></li>
		</ul>
	</header>
	<hr>
	<div style="font-size: 100px;">
		懒得动
	</div>
</body>
</html>