*{
	font-family:Gothic,sans-serif;
	margin: 0;
	padding: 0;
}

body{
	width: 960px;
	background: #E6E6E6;
	margin: 0 auto;
}

#page-wrapper{
	background: white;
	margin-top: 40px;
	padding: 30px 40px;
	width: 920px;
	overflow: auto;
}

#big_header{
	font-size: 30px;
	padding-bottom: 5px;
}

#small_header{
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}

header{
	padding-bottom: 20px;
	height: auto;
}

.outer-menu{
	float: left;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.outer-menu-item{
	float: left;
	list-style: none;
	padding: 0 40px;
	color: black;
}

.outer-menu-item:hover{
	color: red;
}

nav{
	height: 30px;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	padding-top: 5px;
}

.article-date{
	margin-bottom: 5px;
	font-size: 15px;
	font-style: italic;
}

article{
	border-bottom: 1px solid #C9C9C9;
	padding-bottom: 11px;
	margin-top: 30px;
}

aside{
	float: right;
	width: 200px;
	margin-top: 25px;
}

section{
	width: 500px;
	float: left;
}

footer{
	clear: both;
	padding-top: 30px;
}

.aside-list ul{
	list-style: none;
	margin-bottom: 20px;
	color: yellow;
}

.aside-list h3{
	color: blue;
}

.aside-list ul li a{
	color: yellowgreen;
	text-decoration: none;
}

.input-search:focus{
	background-color: greenyellow;
	outline: 0;
}

.input-search{
	border: 1px solid #CCCCCC;
	float: left;
	border-radius: 30px 0 0 30px;
	height: 20px;
	display: block;
}

.input-search-submit{
	border: 1px solid #CCCCCC;
	float: left;
	border-radius: 0 30px 30px 0;
	line-height: 20px;
	width: 40px;
	display: block;
}
